{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Agregar Departamento</h2>
    <form method="POST" class="text-center">
        <div class="form-group">
            <label for="nombre_D">Nombre del Departamento</label>
            <input type="text" class="form-control" name="nombre_D" required>
        </div>
        <button type="submit" class="btn btn-agregar">Agregar</button>
        <a href="{{ url_for('departamentos') }}" class="btn btn-volver">Cancelar</a>
    </form>
</div>
{% endblock %}
