{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4">
        <h2 class="text-center mb-4">Editar Usuario</h2>
        <form method="POST">
            <div class="form-group mb-4">
                <label for="nombre_U" class="form-label">Nombre del Usuario</label>
                <div class="mb-2"></div> <!-- Espacio en blanco -->
                <input type="text" class="form-control" name="nombre_U" value="{{ usuario[1] }}" required>
            </div>
            <div class="form-group mb-4">
                <label for="cedula_U" class="form-label">Cédula</label>
                <div class="mb-2"></div> <!-- Espacio en blanco -->
                <input type="text" class="form-control" name="cedula_U" value="{{ usuario[2] }}" required>
            </div>
            <div class="form-group mb-4">
                <label for="departamento_id" class="form-label">Departamento</label>
                <div class="mb-2"></div> <!-- Espacio en blanco -->
                <select class="form-control" name="departamento_id" required>
                    {% for departamento in departamentos %}
                    <option value="{{ departamento[0] }}" {% if usuario[3] == departamento[0] %}selected{% endif %}>
                        {{ departamento[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-guardar mb-2">Guardar cambios</button>
                <a href="{{ url_for('usuarios') }}" class="btn btn-volver">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
